@font-face {
  font-family: 'iconfont';  /* project id 2213614 */
  src: url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.eot');
  src: url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.woff') format('woff'),
  url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2213614_t1c9dgz6dce.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shop_ic_next:before {
    content: "\e670";
}

.shop_ic_radio_n:before {
    content: "\e671";
}

.shop_ic_open:before {
    content: "\e672";
}

.shop_ic_radio_s:before {
    content: "\e674";
}

.shop_ic_reduce:before {
    content: "\e675";
}

.shop_ic_add:before {
    content: "\e676";
}

.pay_ic_alipay:before {
    content: "\e66b";
}

.pay_ic_fail:before {
    content: "\e669";
}

.pay_ic_radio_n:before {
    content: "\e66a";
}

.pay_ic_bank:before {
    content: "\e66c";
}

.pay_ic_wechat:before {
    content: "\e66d";
}

.pay_ic_success:before {
    content: "\e66e";
}

.pay_ic_radio_s:before {
    content: "\e66f";
}

.order_ic_listnext:before {
    content: "\e667";
}

.order_ic_success:before {
    content: "\e668";
}

.news_ic_score:before {
    content: "\e665";
}

.news_ic_heat:before {
    content: "\e666";
}

.home_ic_change1:before {
    content: "\e663";
}

.home_ic_remind1:before {
    content: "\e664";
}

.login_ic_qq:before {
    content: "\e662";
}

.login_ic_appstore:before {
    content: "\e661";
}

.login_img_tel:before {
    content: "\e660";
}

.login_ic_wechat:before {
    content: "\e65f";
}

.login_ic_alipay:before {
    content: "\e65e";
}

.login_ic_radio_s:before {
    content: "\e65d";
}

.login_ic_radio_n:before {
    content: "\e65c";
}

.login_ic_look:before {
    content: "\e65a";
}

.login_ic_dislook:before {
    content: "\e659";
}

.login_ic_clear:before {
    content: "\e65b";
}

.home_ic_change:before {
    content: "\e657";
}

.home_ic_remind:before {
    content: "\e658";
}

.list_ic_next:before {
    content: "\e656";
}

.popup_ic_closeb:before {
    content: "\e654";
}

.popup_ic_close:before {
    content: "\e655";
}

.bubb_ic_close:before {
    content: "\e653";
}

.notify_ic_next:before {
    content: "\e652";
}

.notify_ic_clock:before {
    content: "\e651";
}

.notify_ic_msg:before {
    content: "\e64e";
}

.notify_ic_close1:before {
    content: "\e64f";
}

.notify_ic_chat:before {
    content: "\e650";
}

.notify_img_logo:before {
    content: "\e64d";
}

.nav_ic_close:before {
    content: "\e648";
}

.nav_ic_share:before {
    content: "\e649";
}

.nav_ic_msg:before {
    content: "\e64a";
}

.nav_ic_back:before {
    content: "\e64b";
}

.nav_ic_code:before {
    content: "\e64c";
}

.sear_ic_sear:before {
    content: "\e645";
}

.sear_ic_open:before {
    content: "\e646";
}

.sear_ic_clear:before {
    content: "\e647";
}

.tab_ic_check:before {
    content: "\e644";
}

.tab_ic_checkbox_s:before {
    content: "\e63c";
}

.tab_ic_checkbox_n:before {
    content: "\e63d";
}

.tab_ic_redu:before {
    content: "\e63e";
}

.tab_ic_act:before {
    content: "\e63f";
}

.tab_ic_all_n:before {
    content: "\e640";
}

.tap_ic_pen_s:before {
    content: "\e641";
}

.tap_ic_pen_n:before {
    content: "\e642";
}

.tab_ic_all_s:before {
    content: "\e643";
}

.toast_ic_error:before {
    content: "\e638";
}

.toast_ic_load:before {
    content: "\e639";
}

.toast_ic_remind:before {
    content: "\e63a";
}

.toast_ic_comp:before {
    content: "\e63b";
}

.buoy_ic_top:before {
    content: "\e636";
}

.buoy_ic_recom:before {
    content: "\e637";
}

.tabbar_ic_order:before {
    content: "\e631";
}

.tabbar_ic_personal:before {
    content: "\e632";
}

.tabbar_ic_home:before {
    content: "\e633";
}

.tabbar_ic_news:before {
    content: "\e634";
}

.tabbar_ic_msg:before {
    content: "\e635";
}

.upload_ic_img:before {
  content: "\e618";
}
.notify_ic_tel:before {
  content: "\e679";
}
.per_ic_addressr:before {
  content: "\e6b2";
}