@componentsName: c-header;

.@{componentsName} {
  .scroTopStyle {
    ::v-deep.sp-sticky {
      border: 1px solid #f4f4f4;
      .sp-top-nav-bar {
        background-color: #fff !important;
        .spiconfont {
          color: #1a1a1a !important;
        }
        .icon-red {
          color: #ec5330 !important;
        }
      }
    }
  }
}
