@componentsName: c-header;

.@{componentsName} {
  .scroTopStyle {
    ::v-deep.sp-sticky {
      border: 1px solid #f4f4f4;
      .sp-top-nav-bar {
        background-color: #fff !important;
        .spiconfont {
          color: #1a1a1a !important;
        }
        .icon-red {
          color: #ec5330 !important;
        }
      }
    }
  }
  .bgcontent {
    background: url('https://cdn.shupian.cn/sp-pt/wap/images/2pxcr859fbi0000.png')
      no-repeat;
    background-size: 100% 100%;
    height: 222px;
    width: 100%;
  }
}
