@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'

// 覆盖样式变量
color-primary = #1AAD19
button-primary-active-fill = #02802c